.table {
  height: 50rem;
  overflow: auto;
  &_head {
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 9999;
  }

  &_body {
    tr {
      border-collapse: collapse;
      td {
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      }
    }
  }
}

.modal {
  position: absolute;
  left: 10px;
  top: 100%;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
  font-weight: normal;
  background-color: white;
  min-width: 320px;
  &.show {
    display: block;
  }
}
