.icon {
  padding: 10px;
  border-radius: 50%;
}

.dropdown {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 180px;
  button {
    &:hover {
      background: rgba(33, 63, 125, 0.05);
    }
  }
}
