$primary-color: #39cdcc;

$lendsqr-pink: #df18ff;
$lendsqr-purple: #5718ff;
$lendsqr-orange: #f55f44;
$lendsqr-red: #ff3366;
$lendsqr-yellow: #e9b200;
$lendsqr-green: #39cd62;
$lendsqr-gray: #545f7d;
$lendsqr-dark-blue: #213f7d;

$sm: 600px;
$md: 768px;
$lg: 921px;
$xl: 1024px;
$xxl: 1200px;
