@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'base';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

*,
html {
  line-height: 1.5;
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  background-color: #efefef !important;
}

a {
  text-decoration: none;
  color: $lendsqr-gray;
}
*::placeholder {
  font-family: 'Work Sans', sans-serif;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
table {
  width: 100%;
}

::selection {
  background-color: $primary-color;
  color: #fff;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.grid {
  display: grid;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.form_error {
  display: block;
  color: $lendsqr-red;
  font-size: smaller;
  padding-top: 8px;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.relative {
  position: relative;
}
.box {
  @media (min-width: $sm) {
    padding: 2rem;
  }
  @media (min-width: $lg) {
    padding: 4rem;
  }
  @media (min-width: $xl) {
    padding: 6rem 8rem;
  }
  @media (min-width: $xxl) {
    padding: 8rem 10rem;
  }
}
.text-sm {
  font-size: 0.875rem;
}
.text-xs {
  font-size: 0.75rem;
}
.text-lg {
  font-size: 1.25rem;
}
.text-xl {
  font-size: 1.5rem;
}
.text-2xl {
  font-size: 2rem;
}
.text-3xl {
  font-size: 2.5rem;
}
.text-4xl {
  font-size: 2.75rem;
}
.uppercase {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.underline {
  text-decoration: underline;
}
.capitalize {
  text-transform: capitalize;
}
.font-normal {
  font-weight: 400;
}
.font-thin {
  font-weight: 300;
}
.font-semibold {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 900;
}
.rounded {
  border-radius: 5px;
}
.rounded-md {
  border-radius: 10px;
}

.main {
  padding-top: 9rem;
  padding-left: 23%;
  padding-right: 2%;
}
.text-base {
  font-size: 16px;
}
.transition {
  transition: all 0.1s ease;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.mantine-Tabs-tab[data-active] {
  border-color: $primary-color !important;
  color: $primary-color !important;
}
